* {
   font-family: Arial, sans-serif;
   box-sizing: border-box;
   line-height: 1;
   vertical-align: baseline;
}

html, body, p, li, ul, ol { padding: 0px; margin: 0px; }

h1, h2, h3, h4, h5, h6 { color: #536069; line-height: 1; letter-spacing: 0; margin: 0px; padding: 0px; }

#page {
   min-height: 100vh;
   position: relative;
   display: -webkit-flex;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   color: #445569;
}

#banner {
   width: 100%;
   background-color: rgba( 255, 255, 255, .90 );
   color: #131d24;
   border-bottom: 1px solid rgba( 200, 200, 200, .5 );
   margin-bottom: 5vh;
   padding-left: 25px;
   padding: 0px;
}

#title {
   height: 100%;
   padding: 5px;
}

#content {
   min-height: 100vh;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: top;
   width: 100%;
   padding: 15px;
}

#content-main {
   width: 70%;
}

#content-side {
   width: 30%;
}

#footer {
   position: relative;
   height: 15vh;
   width: 100%;
   background-color: #131d24;
   color: #e5eff5;
}

#footer-content {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translatex( -50% ) translatey( -100% );
   text-align: center;
}

a { color: orangered; text-decoration: none;}

@media screen and ( max-width: 800px )
{
   #content {
      margin: 0px;
      width: 99vw;
      flex-direction: column-reverse;
      justify-content: flex-start;
   }

   #content-main, #content-side { width: 100%; }

   #content-side { margin-bottom: 2em; }

   #dimple-output * {
      width: 100%;
      margin: 0px;
   }
   #banner {
      text-align: center;
      margin: 0px;
   }

   #title {
      margin: 0px;
   }
}

